body{
    margin:0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
}
#juego{
    border:3px solid black;
}
body h1{
    margin-bottom:0;
    font-size:5vw;
    color:red;
    text-align:center;
}